@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    /* border: solid 1px; */
    transition: 1s;
}

body {
    height: 100dvh;
    overflow: hidden;
    background-image: url("../img/mainbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-store {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 100;
}

.back-to-store:hover {
    transform: translateX(-5px);
    color: #e76e4b;
}

.back-to-store i {
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.back-to-store:hover i {
    transform: rotate(-45deg);
}

.form-container {
    min-width: 350px;
    height: auto;
    width: 400px;
    filter: drop-shadow(4px 4px 6px rgb(91, 91, 91));
}

.modal-body {
    background-color: #EBEEEF;
    padding: 30px;
    border-radius: 20px;
    padding-top: 150px;
    z-index: 3;
}


.modal-header {
    transform: translateY(-45px);
    position: absolute;
    /* z-index: 1; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 4;
}

.btn:hover{
    background-color: #dd4b31;
}

#ashlogin{
    width: 450px;
    position: relative;
    bottom: -145px;
    z-index: 1;
    right: 20px;
}

#charizard{
    position: relative;
    z-index: 0;
    width: 600px;
    left: -360px;
    bottom: -230px;
}

#charizard-front{
    position: relative;
    z-index: 1;
    width: 422px;
    left: -360px;
    bottom: 388.5px;
}

.left, .right{
    width: 20px;
}


@media (max-width: 900px) {
    .form-container {
        width: 350px;
        transform: scale(0.9);
    }
}